* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #FFBD14;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 2rem;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(219, 153, 9, 0.1);
}

h2 {
    font-family: "Dancing Script";
    text-align: center;
    margin-bottom: 1.5rem;
    color: #10846f;
}

input {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
  padding: 0.7rem;
  background: #10846f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

button:hover {
  background: #15a187;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-toggle button {
  flex: 1;
  margin: 0 2px;
  background: #e9ecef;
  color: #333;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.form-toggle button.active {
  background: #10846f;
  color: white;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.error-message {
  display: none;
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

input.error {
  border: 1px solid red;
}
